$TTL 1d ; 172800 secs
$ORIGIN 20.10.IN-ADDR.ARPA.
@       IN      SOA   @ admin.wikitops.io. (
                              2018011201 ; serial number
                              12h        ; refresh
                              15m        ; update retry
                              3w         ; expiry
                              3h         ; minimum
                              )

@        IN      NS      dns01.wikitops.io.
@        IN      NS      dns02.wikitops.io.

20.1     IN      PTR     gateway01.dev.wikitops.io.
20.2     IN      PTR     gateway02.dev.wikitops.io.

20.11    IN      PTR     dns01.dev.wikitops.io.
20.12    IN      PTR     dns02.dev.wikitops.io.

20.21    IN      PTR     haproxy01.dev.wikitops.io.
20.22    IN      PTR     haproxy02.dev.wikitops.io.

21.11    IN      PTR     nginx01.dev.wikitops.io.

22.11    IN      PTR     postgresql01.dev.wikitops.io.
22.12    IN      PTR     postgresql02.dev.wikitops.io.
