# {{ ansible_managed }}

acl "xfer" {
        none;
};

acl "trusted" {
        127.0.0.0/8;
        10.0.0.0/16;
        10.10.0.0/16;
        10.20.0.0/16;
};

options {
        directory "/etc/bind";
        pid-file "/run/named/named.pid";

        listen-on-v6 { any; };
        listen-on { any; };

        allow-query {
                trusted;
        };
        allow-query-cache {
                trusted;
        };
        allow-recursion {
                trusted;
        };
        allow-transfer {
                trusted;
        };
        allow-update {
                none;
        };
        forwarders {
                8.8.8.8;
                8.8.4.4;
        };

        forward only;
        dnssec-enable yes;
        dnssec-validation yes;
        auth-nxdomain no;    # conform to RFC1035
};
